:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 100vh; /* 화면 전체 높이를 사용 */
  background-color: var(--background-color);
  color: var(--text-color);
}

canvas {
  width: 100vw; /* 뷰포트 너비에 맞게 설정 */
  height: 100vh; /* 뷰포트 높이에 맞게 설정 */
  display: block; /* 기본적으로 canvas는 inline-block이므로, block으로 변경 */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* 화면 크기에 맞춰서 기본 스타일을 반응형으로 설정 */
@media (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }

  button {
    font-size: 0.9em;
  }

  canvas {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8em;
  }

  button {
    font-size: 0.8em;
  }

  canvas {
    max-width: 100%;
    height: auto;
  }
}
